@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

/* .fGqXVg {
    border-color: #e0e0e0;
}

.eJNhQG {
    padding: 0 0 !important;
}

.jLIVlC {
    margin-top: 2rem;
} */